body {
    font-family: 'Titillium Web', 'sans-serif';
    margin: 0;
}

:root 
{
   --mainColor: #008aff; 
   --subColor: #fff;
   --uncompleteTodoColor: #DC3545;
   --completeTodoColor: #4CAF50;
}

.error {
    color: red;
}

.active-link {
    color: green !important;
}